<div class="container-gral">
	 <div class="side-collapse in bg-gray2">
          <nav role="navigation" class="navbar-collapse no-padding">
            <ul class="nav">
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/valor-grupo">Inicio</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/preguntas">Preguntas frecuentes</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/glosario">Glosario</a></li>           
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/cerca">Acerca de</a></li>          
            </ul>
          </nav>
        </div>
<header>
  <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="btn btn-menu pull-left">
  	<span class="glyphicon glyphicon-menu-hamburger"></span>
  </button>

  <button class="btn btn-home pull-right" onclick="location.href='#/valor-grupo'"><span class="glyphicon glyphicon-home"></span></button> 
</header>
    <div class="side-collapse-container">

      <div class="container-fluid">             
        <h1>Acerca de</h1><br>
        <p>Desarrollado por <b>Nerdy Trust</b><br><br>
            <button type="tel" class="col-xs-12 btn btn-contact bg-gray2 text-center">
            <a href="tel:5512040970">
            Tel.conmutador – (55)1204 0970
            </a>
            </button><br>
            <button type="tel" class="col-xs-12 btn btn-contact bg-gray2 margin-top text-center">
            <a href="tel:5562599733">
            Oficina – (55)6259 9733
            </a>
            </button><br>
            <a href="http://nerdytrust.com/" target="blank" class="text-center col-xs-12 margin-top">www.nerdytrust.com</a><br>
            <img src="assets/img/logo.png" class="col-xs-6 col-xs-offset-3 margin-top img-responsive"/>
        </p>
       

        <!--<button type="button" class="col-xs-12 btn btn-calcula margin-top60" onclick="location.href='#/home'">Volver</button>-->
     
      </div><!--terminar container fluid-->
    </div><!--terminar side-collapse-container-->


 </div><!--termina container-gral-->