<div class="container-gral">
	 <div class="side-collapse in bg-gray2">
          <nav role="navigation" class="navbar-collapse no-padding">
            <ul class="nav">
             <li class="col-xs-12 text-left no-padding"><a class="" href="#/valor-grupo">Inicio</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/preguntas">Preguntas frecuentes</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/glosario">Glosario</a></li>           
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/cerca">Acerca de</a></li>          
            </ul>
          </nav>
        </div>
<header>
  <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="btn btn-menu pull-left">
  	<span class="glyphicon glyphicon-menu-hamburger"></span>
  </button>

  <button class="btn btn-home pull-right" onclick="location.href='#/valor-grupo'"><span class="glyphicon glyphicon-home"></span></button> 
</header>
    <div class="side-collapse-container">

      <div class="container-fluid">             
        <h1 class="app text-left">Crea tu grupo <span class="btn btn-question3" data-toggle="modal" data-target="#modal4">?</span></h1>
         <form role="form">
          <div class="col-xs-12 no-padding margin-top" id="">
            <div class="form-group">
              <input type="text" class="form-control col-xs-12" id="nombre-grupo" placeholder="Nombre del grupo" required>
              <span class="btn btn-question2" data-toggle="modal" data-target="#duda2">!</span>
            </div>

          </div>

          <h2 class="col-xs-12 no-padding">Datos personales Nivel estándar</h2>
            <div class="col-xs-6 no-padding">

             <div class="check">                           
                <input id="Nombre del grupo" class="styled" type="checkbox">
                   <label for="Nombre del grupo">Nombre </label>
             </div>

              <div class="check">                           
                <input id="edad" class="styled" type="checkbox">
                   <label for="edad">Edad </label>
             </div>

              <div class="check">                           
                <input id="rfc" class="styled" type="checkbox">
                   <label for="rfc">RFC</label>
             </div>

             <div class="check">                           
                <input id="estado-civil" class="styled" type="checkbox">
                   <label for="estado-civil">Estado civil</label>
             </div>

              <div class="check">                           
                <input id="fecha" class="styled" type="checkbox">
                   <label for="fecha">Fecha de nacimiento</label>
             </div>

              <div class="check">                           
                <input id="nacionalidad" class="styled" type="checkbox">
                   <label for="nacionalidad">Nacionalidad</label>
             </div>

              <div class="check">                           
                <input id="lugar-trabajo" class="styled" type="checkbox">
                   <label for="lugar-trabajo">Lugar de trabajo</label>
             </div>

              <div class="check">                           
                <input id="idioma" class="styled" type="checkbox">
                   <label for="idioma">Idioma - Lengua</label>
             </div>

              <div class="check">                           
                <input id="certificados" class="styled" type="checkbox">
                   <label for="certificados">Certificados</label>
             </div>

              <div class="check">                           
                <input id="titulos" class="styled" type="checkbox">
                   <label for="titulos">Titlulos</label>
             </div>

            </div><!--termina columna de 6-->

            <div class="col-xs-6 no-padding">

               <div class="check">                          
                <input id="Teléfono" class="styled" type="checkbox">
                   <label for="Teléfono">Teléfono</label>
               </div>  

                <div class="check">                           
                <input id="sexo" class="styled" type="checkbox">
                   <label for="sexo">Sexo </label>
             </div>

              <div class="check">                           
                <input id="curp" class="styled" type="checkbox">
                   <label for="curp">CURP </label>
             </div>

             <div class="check">                           
                <input id="email" class="styled" type="checkbox">
                   <label for="email">Email</label>
             </div>

              <div class="check">                           
                <input id="lugar-nac" class="styled" type="checkbox">
                   <label for="lugar-nac">Lugar de nacimiento</label>
             </div>

              <div class="check">                           
                <input id="puesto" class="styled" type="checkbox">
                   <label for="puesto">Puesto de trabajo</label>
             </div>

              <div class="check">                           
                <input id="experiencia" class="styled" type="checkbox">
                   <label for="experiencia">Experiencia laboral</label>
             </div>

              <div class="check">                           
                <input id="contact-laboral" class="styled" type="checkbox">
                   <label for="contact-laboral">Datos de contacto laboral</label>
             </div>

              <div class="check">                           
                <input id="trayectoria" class="styled" type="checkbox">
                   <label for="trayectoria">Trayectoria educativa</label>
             </div>

              <div class="check">                           
                <input id="cedula" class="styled" type="checkbox">
                   <label for="cedula">Cédula profesional</label>
             </div>
                 
            </div><!--termina columna de 6-->

             <h2 class="col-xs-12 no-padding sensible">Datos personales Nivel sensible</h2>

            <div class="col-xs-6 no-padding">

              <div class="check">                           
                <input id="Saldos bancarios" class="styled" type="checkbox">
                   <label for="Saldos bancarios">Saldos bancarios </label>
             </div>

             <div class="check">                           
                <input id="Bienes inmuebles" class="styled" type="checkbox">
                   <label for="Bienes inmuebles">Bienes inmuebles </label>
             </div>

              <div class="check">                           
                <input id="Historial crediticio" class="styled" type="checkbox">
                   <label for="Historial crediticio">Historial crediticio </label>
             </div>

              <div class="check">                           
                <input id="Egresos" class="styled" type="checkbox">
                   <label for="Egresos">Egresos </label>
             </div>

              <div class="check">                           
                <input id="Seguros" class="styled" type="checkbox">
                   <label for="Seguros">Seguros </label>
             </div>

              <div class="check">                           
                <input id="Número de tarjetas" class="styled" type="checkbox">
                   <label for="Número de tarjetas">Número de tarjetas </label>
             </div>

              <div class="check">                           
                <input id="Firma autógrafa" class="styled" type="checkbox">
                   <label for="Firma autógrafa">Firma autógrafa </label>
             </div>

              <div class="check">                           
                <input id="Firma electrónica" class="styled" type="checkbox">
                   <label for="Firma electrónica">Firma electrónica </label>
             </div>

              <div class="check">                           
                <input id="Amparos" class="styled" type="checkbox">
                   <label for="Amparos">Amparos </label>
             </div>

              <div class="check">                           
                <input id="Contratos" class="styled" type="checkbox">
                   <label for="Contratos">Contratos </label>
             </div>

              <div class="check">                           
                <input id="Estado de salud" class="styled" type="checkbox">
                   <label for="Estado de salud">Estado de salud </label>
             </div>

              <div class="check">                           
                <input id="Afilicacion sindical" class="styled" type="checkbox">
                   <label for="Afilicacion sindical">Afilicacion sindical </label>
             </div>

              <div class="check">                           
                <input id="Creencias morales" class="styled" type="checkbox">
                   <label for="Creencias morales">Creencias morales </label>
             </div>

              <div class="check">                           
                <input id="Opiniones politicas" class="styled" type="checkbox">
                   <label for="Opiniones politicas">Opiniones politicas </label>
             </div>

              <div class="check">                           
                <input id="Preferecia sexual" class="styled" type="checkbox">
                   <label for="Preferecia sexual">Preferecia sexual </label>
             </div>

             </div><!--termina columna de 6-->


             <div class="col-xs-6 no-padding">

             <div class="check">                           
                <input id="Estados de cuenta" class="styled" type="checkbox">
                   <label for="Estados de cuenta">Estados de cuenta </label>
             </div>

             <div class="check">                           
                <input id="Información fiscal" class="styled" type="checkbox">
                   <label for="Información fiscal">Información fiscal</label>
             </div>

             <div class="check">                           
                <input id="Ingresos" class="styled" type="checkbox">
                   <label for="Ingresos">Ingresos</label>
             </div>

             <div class="check">                           
                <input id="Buro de crédito" class="styled" type="checkbox">
                   <label for="Buro de crédito">Buro de crédito</label>
             </div>

             <div class="check">                           
                <input id="Afores y fianzas" class="styled" type="checkbox">
                   <label for="Afores y fianzas">Afores y fianzas</label>
             </div>

             <div class="check">                           
                <input id="Contraseñas" class="styled" type="checkbox">
                   <label for="Contraseñas">Contraseñas</label>
             </div>

             <div class="check">                           
                <input id="Información biometrica" class="styled" type="checkbox">
                   <label for="Información biometrica">Información biometrica</label>
             </div>

             <div class="check">                           
                <input id="Antecedentes penales" class="styled" type="checkbox">
                   <label for="Antecedentes penales">Antecedentes penales</label>
             </div>

             <div class="check">                           
                <input id="Demandas" class="styled" type="checkbox">
                   <label for="Demandas">Demandas</label>
             </div>

             <div class="check">                           
                <input id="Litigios" class="styled" type="checkbox">
                   <label for="Litigios">Litigios</label>
             </div>

             <div class="check">                           
                <input id="Origen racial o étnico" class="styled" type="checkbox">
                   <label for="Origen racial o étnico">Origen racial o étnico</label>
             </div>

             <div class="check">                           
                <input id="Información genética" class="styled" type="checkbox">
                   <label for="Información genética">Información genética</label>
             </div>

             <div class="check">                           
                <input id="Creencias religiosas" class="styled" type="checkbox">
                   <label for="Creencias religiosas">Creencias religiosas</label>
             </div>

             <div class="check">                           
                <input id="Creencias filosoficas" class="styled" type="checkbox">
                   <label for="Creencias filosoficas">Creencias filosoficas</label>
             </div>

             <div class="check">                           
                <input id="Hábitos sexuales" class="styled" type="checkbox">
                   <label for="Hábitos sexuales">Hábitos sexuales</label>
             </div>

             </div><!--termina columna de 6-->


            <h2 class="col-xs-12 no-padding especial">Datos personales Nivel especial</h2>
             
            <div class="col-xs-12 no-padding">

              <div class="check">                           
                <input id="info-tarjetas" class="styled" type="checkbox">
                   <label for="info-tarjetas">Información adicional a tarjeta bancaria</label>
              </div>

              <div class="check">                           
                <input id="num-tarjetas" class="styled" type="checkbox">
                   <label for="num-tarjetas">Numero de tarjeta de crédito o débito</label>
              </div>

              <div class="check">                           
                <input id="fecha-vencimiento" class="styled" type="checkbox">
                   <label for="fecha-vencimiento">fecha de vencimiento de tarjeta</label>
              </div>

              <div class="check">                           
                <input id="codigos seguridad" class="styled" type="checkbox">
                   <label for="codigos seguridad">Códigos de seguridad</label>
              </div>

              <div class="check">                           
                <input id="banda magnetica" class="styled" type="checkbox">
                   <label for="banda magnetica">Datos de banda magnética</label>
              </div>

              <div class="check">                           
                <input id="pin" class="styled" type="checkbox">
                   <label for="pin">Número de identificación personal (PIN)</label>
              </div>

            </div><!--termina columna de 6-->

            <br><br>


          <div class="range range2 col-xs-12 no-padding">
            <div class="form-group">
              <fieldset>
                <label for="range" class="check flex-caption text-left margin-top35">
                ¿ El responsable (Empresa/Negocio/Persona) te proporciona seguridad, confianza, robustes y transparencia ?
                </label>
                <span class="margin-top col-xs-1 text-left no-padding pull-left"><b>si</b></span>
                 <span class="margin-top col-xs-1 text-right no-padding pull-right"><b>no</b></span>
                <input id="range" type="range" name="range" min="1" max="5" value="2.5" onchange="range.value=value" />

                 <span class="col-xs-12 text-center no-padding">
                     <span class="col-xs-1 no-padding text-center">1</span>
                     <span class="col-xs-3 text-right">2</span>
                     <span class="col-xs-4 text-center">3</span>
                     <span class="col-xs-3 text-left">4</span>
                     <span class="col-xs-1 no-padding text-center">5</span>
                  </span>
               
            </fieldset>
            </div>
          </div>
            


        </form>

         <button type="button" class="col-xs-12 btn btn-calcula margin-top25 margin-bottom">Calcular</button>


        
     
      </div><!--terminar container fluid-->
    </div><!--terminar side-collapse-container-->


 </div><!--termina container-gral-->


<!--Modal-->
<div class="modal-backdrop" id="myModal3">
  <div class="" id="" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h1 class="modal-title">Comenzamos</h1>
        </div>
        <div class="modal-body">
           <p>        
          Al crear tu grupo personalizado EVA no te pedira entregar ningun dato personal, la única finalidad es concientizar a las personas de la importancia de cuidar sus datos personales.
          <div class="col-xs-12 btn btn-calcula margin-bottom margin-top" id="crea-grupo">Entendido</div>
        </p>

        </div>
        <div class="modal-footer">
        Personal Data Economic Value         
        </div>
      </div>
      
    </div>
  </div>  
 </div>
 <!--termina Modal-->

 <!-- Duda 2-->
<div id="duda2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
         <h1 class="modal-title">Tips para Grupos EVA</h1>
      </div>
      <div class="modal-body">
        <p>
       Te recomendamos poner nombres como:<br> 
       Iusatel, Bancamex, Telecel, etc.<br>
       será facil que identifiques a quien proporcionaste tus datos y cuanto valen para las compañias.
       <div class="col-xs-12 btn btn-calcula margin-bottom margin-top" data-dismiss="modal">Entendido</div>
        </p>
      </div>
     <div class="modal-footer">
        Personal Data Economic Value         
       </div>
    </div>

  </div>
</div>
<!--termina modal duda2-->

<!-- modal4-->
<div id="modal4" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
         <h1 class="modal-title">Grupos EVA</h1>
      </div>
      <div class="modal-body">
        <p>        
          Al crear tu grupo personalizado EVA no te pedira entregar ningun dato personal, la única finalidad es concientizar a las personas de la importancia de cuidar sus datos personales.
          <div class="col-xs-12 btn btn-calcula margin-bottom margin-top" data-dismiss="modal">Entendido</div>
        </p>
      </div>
     <div class="modal-footer">
        Personal Data Economic Value         
       </div>
    </div>

  </div>
</div>
<!--termina modal4-->