<div class="container-gral">
	 <div class="side-collapse in bg-gray2">
          <nav role="navigation" class="navbar-collapse no-padding">
            <ul class="nav">
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/valor-grupo">Inicio</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/preguntas">Preguntas frecuentes</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/glosario">Glosario</a></li>           
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/cerca">Acerca de</a></li>          
            </ul>
          </nav>
        </div>
<header>
  <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="btn btn-menu pull-left">
  	<span class="glyphicon glyphicon-menu-hamburger"></span>
  </button>

  <button class="btn btn-home pull-right" onclick="location.href='#/valor-grupo'"><span class="glyphicon glyphicon-home"></span></button> 
</header>
    <div class="side-collapse-container">

      <div class="container-fluid">             
        <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li class="text-center">
              <h1>Glosario</h1>
              <p class="flex-caption text-left margin-top35">               
               <b class="naranja margin-top35">Factores de riesgo:</b><br>
                1. Nivel de riesgo inherente de datos en los sistemas de tratamiento<br>
                2. Los principios de usuario<br/>
                3. Una unidad económica significativa relacionada con los datos personales.<br/><br>

               <b class="naranja margin-top">Niveles de Riesgo</b><br/><br/>
               <b class="green">Nivel estándar:</b> <br/>Esta categoría considera información de identificación, contacto, datos laborales y académicos de una persona física identificada o identificable, tal como: nombre, teléfono, edad, sexo, Registro Federal del Contribuyente (RFC), Clave Única de Registro de Población (CURP), estado civil, dirección de correo electrónico, lugar y fecha de nacimiento, nacionalidad, puesto de trabajo,
                lugar de trabajo, experiencia laboral, datos de contacto laborales, idioma o lengua, escolaridad, trayectoria educativa, títulos, certificados, cédula profesional, entre otros.
                             
              </p>
               <button class="btn btn-share pull-left" id="glosario1">
                  <img src="assets/img/share.png"/>
               </button> 
            </li>

            <li class="text-center">            
              <h1>Glosario</h1>
              <p class="flex-caption text-left margin-top35">               
                <b class="orange ">Nivel sensible:</b> <br>
                Esta categoría contempla los datos que permiten conocer la ubicación física de la persona, tales como la dirección física e información relativa al tránsito de las personas dentro y fuera del país.<br><br>
                También son datos de nivel sensible aquéllos vinculados con el patrimonio de una persona, que incluye entre otros, los saldos bancarios, estados y/o número de cuenta, cuentas de inversión, bienes muebles e inmuebles, información fiscal, historial crediticio, ingresos, egresos, buró de  rédito, seguros, afores y fianzas. Incluye el número de tarjeta bancaria de crédito y/o débito.<br><br>

                En esta categoría se encuentran también los datos de autenticación con información referente a los usuarios, contraseñas, información biométrica (huellas dactilares, iris, voz, entre otros), firma autógrafa y electrónica y cualquier otro que permita autenticar a una persona.<br><br>

                Asimismo, dentro de esta categoría se toman en cuenta los datos jurídicos tales como antecedentes penales, amparos, demandas, contratos, litigios y cualquier otro tipo de información relativa a una persona que se encuentre sujeta a un procedimiento administrativo seguido en forma de juicio o jurisdiccional en materia laboral, civil, penal o administrativa.<br><br>

                Finalmente, se contemplan los datos personales sensibles de la Ley, es decir, aquéllos que afecten a la esfera más íntima de su titular. Por ejemplo, se consideran sensibles los que puedan revelar aspectos como origen racial o étnico, estado de salud pasado, presente y futuro, información genética, creencias religiosas, filosóficas y morales, afiliación sindical, opiniones políticas, preferencia sexual, hábitos sexuales y cualquier otro cuya utilización indebida pueda dar origen a discriminación o conlleve un riesgo grave a la integridad del titular.
              </p>
               <button class="btn btn-share pull-left" id="glosario2"><img src="assets/img/share.png" alt=""></button> 
            </li> 

            <li class="text-center">            
              <h1>Glosario</h1>
              <p class="flex-caption text-left margin-top35">               
                 <b class="especial">Nivel especial: </b><br>
                 Esta categoría corresponde a los datos cuya propia naturaleza, o bien debido a un cambio excepcional en el contexto de las operaciones usuales de la organización, pueden causar daño directo al patrimonio o seguridad de los titulares, por ejemplo información adicional de tarjeta bancaria que considera el número de la tarjeta de crédito y/o débito mencionado anteriormente en combinación con cualquier otro dato relacionado o contenido en la misma, por ejemplo fecha de vencimiento, códigos de seguridad, datos de banda magnética o número de identificación personal (PIN).<br><br>

                <b class="naranja">Transparencia:</b> <br>
                La percepción del titular respecto a la claridad del tratamiento que el responsable le da a sus datos.<br>
                 <b class="orange">-Confianza:</b><br> La confianza que el titular experimenta al proporcionar su información
                personal al responsable, a cambio de recibir un producto o servicio.<br>
                 <b class="orange">-Control:</b><br> La capacidad del titular para ejercer de manera efectiva sus derechos de Acceso, Rectificación, Cancelación y Oposición de los datos que proporciona al responsable.<br>
                 <b class="orange">-Valoración:</b><br> La percepción del titular respecto a si sus datos serán explotadospara un fin distinto al original de cuando fueron recabados.
              </p>
               <button class="btn btn-share pull-left" id="glosario3"><img src="assets/img/share.png" alt=""></button> 
            </li> 

                       
          </ul>
        </div>  
      </section>
     
      </div><!--terminar container fluid-->
    </div><!--terminar side-collapse-container-->


 </div><!--termina container-gral-->