<div class="container-gral">
	 <div class="side-collapse in bg-gray2">
          <nav role="navigation" class="navbar-collapse no-padding">
            <ul class="nav">
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/valor-grupo">Inicio</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/preguntas">Preguntas frecuentes</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/glosario">Glosario</a></li>           
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/cerca">Acerca de</a></li>      
            </ul>
          </nav>
        </div>
<header>
  <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="btn btn-menu pull-left">
  	<span class="glyphicon glyphicon-menu-hamburger"></span>
  </button>

  <button class="btn btn-home pull-right" onclick="location.href='#/valor-grupo'"><span class="glyphicon glyphicon-home"></span></button> 
</header>
    <div class="side-collapse-container">

      <div class="container-fluid">             
        <h1 class="app text-left">Valor de tus datos hasta ahora</h1>

        <div class="col-xs-12 valor-ahora" id="valor-datos">
          0.00
        </div>

         <h1 class="app text-left margin-top35 col-xs-12 no-padding">
         <!--Ahora dinos que otros servicios haz contratado donde hayas entregado datos personales, puedes crear un grupo.-->
         ¿Haz entregado Datos Personales en alguna compañia? <br>
         Puedes crear un grupo simulando los datos entregados  <button type="button" class="btn btn-question" data-toggle="modal" data-target="#duda">Que es esto?</button>
         </h1>

         <button type="button" class="col-xs-12 btn btn-calcula margin-top25" onclick="location.href='#/crea-grupo'">Agregar grupo +</button>

         <h1 class="app text-left margin-top35 col-xs-12 no-padding">O puedes ir directo al resumen de nivel de riesgo</h1>

         <button type="button" class="col-xs-12 btn btn-riesgo margin-top25 margin-bottom" onclick="location.href='#/nivel-riesgo'">Nivel de riesgo>></button>
     
      </div><!--terminar container fluid-->
    </div><!--terminar side-collapse-container-->


 </div><!--termina container-gral-->

 <!-- Modal -->
<div id="duda" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h1 class="modal-title">Grupos EVA</h1>
      </div>
      <div class="modal-body">
        <p>
        Un grupo es un conjunto de Datos Personales, aqui simularas lo que hacen agunas compañias al recopilar tus datos personales.
        <br><br><b>(Nunca te pediremos datos reales)</b>.<br>  
        
          <!--Al crear tu grupo personalizado EVA no te pedira entregar nungun dato personal, la única finalidad en concientizar a las personas de la importancia de cuidar sus datos personales.-->
        </p>
      </div>
     <div class="modal-footer">
        Personal Data Economic Value         
       </div>
    </div>

  </div>
</div>