<div class="container-gral">
	 <div class="side-collapse in bg-gray2">
          <nav role="navigation" class="navbar-collapse no-padding">
            <ul class="nav">
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/valor-grupo">Inicio</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/preguntas">Preguntas frecuentes</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/glosario">Glosario</a></li>           
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/cerca">Acerca de</a></li>          
            </ul>
          </nav>
        </div>
<header>
  <!--<button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="btn btn-menu pull-left">
  	<span class="glyphicon glyphicon-menu-hamburger"></span>
  </button>

  <button class="btn btn-home pull-right" onclick="location.href='#/valor-grupo'"><span class="glyphicon glyphicon-home"></span></button> -->
</header>
    <div class="side-collapse-container">

      <div class="container-fluid">             
        <h1 class="app">¿Cuanto valen mis datos personales?</h1>

        <div class="col-xs-12 valor back-none" id="valor-datos">0.00</div>

        <button type="button" class="col-xs-12 btn btn-calcula margin-top60" onclick="location.href='#/selecciona'">Calcular Valor</button>
     
      </div><!--terminar container fluid-->
    </div><!--terminar side-collapse-container-->


 </div><!--termina container-gral-->

 <!--Modal-->
<div class="modal-backdrop" id="myModal2">
  <div class="" id="" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h1 class="modal-title">Comenzamos</h1>
        </div>
        <div class="modal-body">
          <p>
          EVA es una aplicación donde la única finalidad es concientizar a las personas de la importancia de cuidar sus datos personales.
          <br><b>(Nunca te pediremos datos reales)</b>.<br>           
            <img src="assets/img/protect.png" class="img-responsive" alt="">
            <button type="button" class="col-xs-12 btn btn-calcula margin-bottom" id="entiendo">Entendido</button>
          </p>

        </div>
        <div class="modal-footer">
        Personal Data Economic Value         
        </div>
      </div>
      
    </div>
  </div>  
 </div>
 <!--termina Modal-->