<!--<div>{{#link-to 'home'}}Go Home{{/link-to}}
<br>
<a href="#/home">Go Home</a></div>-->
<div class="container-gral">
   <div class="side-collapse in bg-gray2">
          <nav role="navigation" class="navbar-collapse no-padding">
            <ul class="nav">
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/valor-grupo">Inicio</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/preguntas">Preguntas frecuentes</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/glosario">Glosario</a></li>           
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/cerca">Acerca de</a></li>          
            </ul>
          </nav>
        </div>
<header>
  <!--<button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="btn btn-menu pull-left">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
  </button>

  <button class="btn btn-home pull-right" onclick="location.href='#/home'"><span class="glyphicon glyphicon-home"></span></button> -->
</header>
    <div class="side-collapse-container">

      <div class="container-fluid">             
        <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li class="text-center first">

              <h1>¿Qué son los datos personales?</h1>
              <p class="flex-caption">               
               Es cualquier información relacionada contigo, por ejemplo, tu nombre, teléfono, domicilio, fotografía o huellas dactilares, así como cualquier otro dato que pueda servir para identificarte. Este tipo de datos te permiten además, interactuar con otras personas, o con una o más organizaciones, así como que puedas ser sujeto de derechos.
               <img src="assets/img/image1.png" class="img-responsive" alt="">               
              </p>
               <button class="btn btn-share pull-left" id="que"><img src="assets/img/share.png" alt=""></button> 
            </li>
            <li class="text-center">            
              <h1>¿Que tipos de datos personales hay? </h1>
              <p class="flex-caption">               
                <ul class="list-group tip">
                  Existen diferentes categorías de datos, por ejemplo:
                  <li>Identificación -(nombre, domicilio, teléfono, correo electrónico, firma, RFC, CURP, fecha de nacimiento, edad, nacionalidad, estado civil, etc. </li>
                  <li>Laborales (puesto, domicilio, correo electrónico y teléfono del trabajo </li>
                  <li>Patrimoniales (información fiscal, historial crediticio, cuentas bancarias, ingresos y egresos, etc.</li>
                  <li>Académicos (trayectoria educativa, título, número de cédula, certificados, etc.</li>
                  <li>Ideológicos (creencias religiosas, afiliación política y/o sindical, pertenencia a organizaciones de la sociedad civil y/o asociaciones religiosas</li>
                  <li>De salud (estado de salud, historial clínico, enfermedades, información relacionada con cuestiones de carácter psicológico y/o psiquiátrico, etc.</li>
                  <li>Características personales (tipo de sangre, ADN, huella digital, etc.</li>
                  <li>Características físicas (color de piel, iris y cabellos, señales particulares, etc.; vida y hábitos sexuales, origen (étnico y racial.); entre otros</li>
                </ul>  
              </p>
               <button class="btn btn-share pull-left" id="tipos"><img src="assets/img/share.png" alt=""></button> 
            </li>  
            <li class="text-center">            
              <h1>¿Por qué es importante protegerlos?</h1>
              <p class="flex-caption">               
                Para evitar que los datos sean utilizados para una finalidad distinta para la cual la proporcionaste, evitando con ello se afecten otros derechos y libertades, por ejemplo que se utilice de forma incorrecta cierta información de salud lo que podría ocasionar una discriminación laboral, entre otros supuestos.
                <img src="assets/img/image2.png" class="img-responsive" alt="">   
              </p>
               <button class="btn btn-share pull-left" id="proteger"><img src="assets/img/share.png" alt=""></button> 
            </li> 
             <li class="text-center">            
              <h1>Proceso</h1>
              <p class="flex-caption">               
                <img src="assets/img/image3.png" class="img-responsive" alt=""> 

              </p> 
               <button type="" class="col-xs-12 btn btn-calcula" onclick="location.href='#/home'">Comenzar</button> 
               <button class="btn btn-share pull-center margin-top" id="proceso"><img src="assets/img/share.png" alt=""></button> 
            </li>              
          </ul>
        </div>  
      </section>
     
      </div><!--terminar container fluid-->
    </div><!--terminar side-collapse-container-->


 </div><!--termina container-gral-->

 <!--Modal-->
<div class="modal-backdrop" id="myModal">
  <div class="" id="" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h1 class="modal-title">Bienvenido a E-VA</h1>
        </div>
        <div class="modal-body">
          <p>Acontinuación te mostraremos algunos conceptos básicos sobre tus datos personales.<br>
            Desliza la pantalla, al finalizar da click en el botón comenzar.
            <img src="assets/img/swipe.png" class="img-responsive" alt="">
            <button type="button" class="col-xs-12 btn btn-calcula margin-top margin-bottom" id="entiendo">Entendido</button>
          </p>
        </div>
        <div class="modal-footer">
        Personal Data Economic Value         
        </div>
      </div>
      
    </div>
  </div>  
 </div>
 <!--termina Modal-->