<div class="container-gral">
	 <div class="side-collapse in bg-gray2">
          <nav role="navigation" class="navbar-collapse no-padding">
            <ul class="nav">
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/valor-grupo">Inicio</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/preguntas">Preguntas frecuentes</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/glosario">Glosario</a></li>           
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/cerca">Acerca de</a></li>          
            </ul>
          </nav>
        </div>
<header>
  <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="btn btn-menu pull-left">
  	<span class="glyphicon glyphicon-menu-hamburger"></span>
  </button>

  <button class="btn btn-home pull-right" onclick="location.href='#/valor-grupo'"><span class="glyphicon glyphicon-home"></span></button> 
</header>
    <div class="side-collapse-container">

      <div class="container-fluid">             
        <h1 class="app text-left">Resumen de nivel de riesgo</h1>

      
        <div class="row">
          <div class="col-xs-12 cont-grupo ">
              <h2 class="orange">Distribución general de riesgo</h2>

              <div class="col-xs-12 text-center margin-bottom margin-top no-padding">
                <div id="chartdiv"></div>
              </div>

              <div class="col-xs-12 text-left datos margin-top">Datos personales Nivel estándar - <span></span></div>
              <div class="col-xs-12 text-left datos">Datos personales Nivel sensible - <span></span></div>
              <div class="col-xs-12 text-left datos">Datos personales Nivel especial - <span></span></div>
              <div class="col-xs-12 text-left datos">Datos en Redes sociales - <span></span></div>

          </div>
        </div>


        <div class="row">
          <div class="col-xs-12 cont-grupo ">
              <h2 class="orange margin-top35">Indicador de nivel de riesgo por grupo</h2>

                <div id="grupos-datos">
        
                </div>
               <button type="button" class="btn btn-question" data-toggle="modal" data-target="#duda2">Que significa esto</button>
          </div>
        </div>

        <h4><b>Estos datos no seran publicados ni enviados fuera de la aplicación son unicamente demostrativos</b></h4>

       

         <button type="button" class="col-xs-12 btn btn-calcula margin-bottom" onclick="location.href='#/valor-grupo'">Terminar</button>
     
      </div><!--terminar container fluid-->
    </div><!--terminar side-collapse-container-->


 </div><!--termina container-gral-->



 <!-- Modal -->
<div id="duda2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h1 class="modal-title">Niveles de riesgo</h1>
      </div>
      <div class="modal-body">
        <p>
        <b class="green">Nivel estándar:</b><br>
        Esta categoría considera información de identificación.<br>
        <b class="orange ">Nivel sensible:</b><br>
         Esta categoría contempla los datos que permiten conocer la ubicación física de la persona.<br>
         <b class="especial">Nivel especial: </b><br>
          Datos cuya propia naturaleza pueden causar daño directo al patrimonio o seguridad de los titulares.<br><br>
          <b class="especial">Estos datos no seran publicados ni enviados fuera de la aplicación son unicamente demostrativos</b>
        </p>
      </div>
     <div class="modal-footer">
        Personal Data Economic Value         
       </div>
    </div>

  </div>
</div>

 <!-- Modal -->
<div id="duda3" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h1 class="modal-title green"></h1>
          <h1 class="modal-title orange"></h1>
           <h1 class="modal-title especial"></h1>
      </div>
      <div class="modal-body">
        <p>
          <b class="green"></b>
          <b class="orange"></b>
          <b class="especial"></b>
        </p>
      </div>
     <div class="modal-footer">
        Personal Data Economic Value         
       </div>
    </div>

  </div>
</div>