<div class="container-gral">
	 <div class="side-collapse in bg-gray2">
          <nav role="navigation" class="navbar-collapse no-padding">
            <ul class="nav">
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/valor-grupo">Inicio</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/preguntas">Preguntas frecuentes</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/glosario">Glosario</a></li>           
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/cerca">Acerca de</a></li>     
            </ul>
          </nav>
        </div>
<header>
  <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="btn btn-menu pull-left">
  	<span class="glyphicon glyphicon-menu-hamburger"></span>
  </button>

  <button class="btn btn-home pull-right" onclick="location.href='#/valor-grupo'"><span class="glyphicon glyphicon-home"></span></button> 
</header>
    <div class="side-collapse-container">

      <div class="container-fluid">             
        <h1 class="app text-center">Selecciona las redes sociales utilizas con frecuencia</h1>
        <form role="form">
        <div class="col-xs-12 no-padding">
          
                    <div class="checkbox text-center face">                      
                        <input id="facebook" class="styled" type="checkbox">
                        <label for="facebook">
                            Facebook
                        </label>
                    </div>

                    <div class="checkbox text-center twitter">                      
                        <input id="twitter" class="styled" type="checkbox">
                        <label for="twitter">
                            Twitter
                        </label>
                    </div>

                    <div class="checkbox text-center whatsapp">                      
                        <input id="whatsapp" class="styled" type="checkbox">
                        <label for="whatsapp">
                            Whatsapp
                        </label>
                    </div>

                     <div class="checkbox text-center skype">                      
                        <input id="skype" class="styled" type="checkbox">
                        <label for="skype">
                            Skype
                        </label>
                    </div>

                    <div class="checkbox text-center gmail">                      
                        <input id="gmail" class="styled" type="checkbox">
                        <label for="gmail">
                            Gmail
                        </label>
                    </div>
                   
        </div>
     
         </form>
         <button type="" class="col-xs-12 btn btn-calcula margin-top" onclick="location.href='#/grupo'" id="cr" >Calcular</button>
     
      </div><!--terminar container fluid-->
    </div><!--terminar side-collapse-container-->


 </div><!--termina container-gral-->