	<div class="container-gral">
	 <div class="side-collapse in bg-gray2">
          <nav role="navigation" class="navbar-collapse no-padding">
            <ul class="nav">
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/valor-grupo">Inicio</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/preguntas">Preguntas frecuentes</a></li>
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/glosario">Glosario</a></li>           
              <li class="col-xs-12 text-left no-padding"><a class="" href="#/cerca">Acerca de</a></li>          
            </ul>
          </nav>
        </div>
<header>
  <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="btn btn-menu pull-left">
  	<span class="glyphicon glyphicon-menu-hamburger"></span>
  </button>

  <button class="btn btn-home pull-right" onclick="location.href='#/valor-grupo'"><span class="glyphicon glyphicon-home"></span></button> 
</header>
    <div class="side-collapse-container">

      <div class="container-fluid">             
        <h1 class="app text-left">Valor de tus datos hasta ahora</h1>

        <div class="col-xs-12 valor-ahora" id="valor-datos">
          0.00
        </div>

       <div class="row">
          <div class="col-xs-12 cont-grupo margin-top35 ">
          
          <button type="button" class="btn btn-add pull-right glyphicon glyphicon-pencil"></button>
          <button type="button" class="btn btn-basura2 pull-right glyphicon glyphicon-trash"></button>
             <h1 class="app-redes text-left">Valor de tus datos en: <br> Redes Sociales</h1>
              <div class="col-xs-12 valor-ahora" id="valor-redes">
               0.00
              </div>
          </div>
        </div>

      <div id="grupos-datos">
  
      </div>
       
       

         <button type="button" class="col-xs-12 btn btn-calcula margin-top25" onclick="location.href='#/crea-grupo'">Agregar grupo +</button>

         <!--<h1 class="app text-left margin-top35 col-xs-12 no-padding">Ir al resumen de nivel de riesgo</h1>-->

         <button type="button" class="col-xs-12 btn btn-riesgo margin-top25 margin-bottom" onclick="location.href='#/nivel-riesgo'">Nivel de riesgo>></button>
     
      </div><!--terminar container fluid-->
    </div><!--terminar side-collapse-container-->


 </div><!--termina container-gral-->