 body {
       margin-top: 45px;
         
          color: #666666;
          background: #F2F2F2;
       }
@font-face{
  font-family: Stinky Marker;
  src: url("../fonts/DJB-Stinky Marker.woff");
}
@font-face{
  font-family: MYRIADPRO-REGULAR;
  src: url("../fonts/MYRIADPRO-REGULAR.woff");
}
.container-gral{ 
  min-width: 320px;
  height: auto;
  overflow: hidden;
}
header{
	background:#F7931E;
	height: 45px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  max-width: 100%;
}
.no-padding{
  padding: 0;
}
.margin-top{
  margin-top: 15px !important;
}
.margin-top25{
  margin-top: 25px !important;
}
.margin-top35{
  margin-top: 35px !important;
}
.margin-top50{
  margin-top: 50px !important;
}
.margin-top60{
  margin-top: 60px !important;
}
.margin-bottom{
  margin-bottom: 10px;
}
.bg-gray{
  background: #333333;
}
.bg-gray2{
  background: #E6E6E6;
}
.btn-menu{
  background: transparent;
  padding: 7px;
  margin: 0;
  border-radius: 0;
}
.btn-menu span{
  font-size: 25px;
  color: #fff;
}
.btn-home{
  background: transparent;
  padding: 7px;
  margin: 0;
  border-radius: 0;
}
.btn-home span{
  font-size: 23px;
  color: #fff;
}
.btn-share{
  background: transparent;
  padding: 7px;
  margin: 0;
  border-radius: 0;
}
button:focus, .btn:focus{
   outline: none !important;
}
h1{
  color: #E26814;
  font-size: 20px;
  font-family: Stinky Marker;
      letter-spacing: -0.07em;
}
h2{
  color: #009245;
  font-size: 19px;
   font-family: Stinky Marker;
   letter-spacing: -0.07em;
   margin-top: 20px;
   display: inline-block;
}
h4{
   display: inline-block;
   font-size: 12px;
   color: #4D4D4D;
    font-family: Stinky Marker;
    text-align: center;
    padding: 5% 0;
}
p{
  color: #808080;
  font-size: 16px;
  font-family: MYRIADPRO-REGULAR;
}
.flex-direction-nav a:before{
background: url("../img/left.png");
}
.flex-direction-nav a.flex-next:before{
background: url("../img/right.png");
}
ul.tip{
 text-align: left;
}
ul.tip li{
 text-align: left;
 list-style-image: url("../img/doit.png");
list-style-position: inside;
margin-bottom: 5px;
 font-size: 16px;
}
blockquote{
  font-size: 16px;
}
.nav>li>a{
  color: #808080;
  font-size: 19px;
      letter-spacing: -0.07em;
      padding: 10px;
}
h1.app{
  color: #808080;
  font-size: 19px;
  margin-top: 20px;
  display: inline-block;
}
/*modal*/
.close {
    font-size: 35px;
 }
 .modal-content{
  top: 15px;
  box-shadow: none;
  border: none;
 }
 .modal-dialog{
    margin: 15px;
 }
.modal-backdrop{
  background: url("../img/bg.png") !important;
}
.modal-body img{
  margin: 0 auto;
}
.modal-header, .modal-footer{
  border: none;
}
.modal-header{
   padding: 15px 15px 5px 15px;
}
.modal-footer{
  text-align: center;
  padding: 5px 15px;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
}
/*modales termina*/
.back-none{
  background-color: transparent !important;
}
.valor{
  font-family: Stinky Marker;
  color: #E26814;
  font-size: 43px;
  background: #fff;
  position: relative;
  padding: 15px 0 15px 40px;
  height: 83px;
  vertical-align: middle;
  margin-top: 25px;
}
.valor::before{
  content: "$";
  font-family: Stinky Marker;
  color: #E26814;
  font-size: 65px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.valor-ahora{
  font-family: Stinky Marker;
  color: #E26814;
  font-size: 35px;
  background: #fff;
  position: relative;
  padding: 5px 0 5px 40px;
  height: 61px;
  vertical-align: middle;
  margin-top: 25px;
}
.valor-ahora::before{
  content: "$";
  font-family: Stinky Marker;
  color: #E26814;
  font-size: 45px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.btn-calcula{
  background: #E26814;
  border-radius: 0;
  height: 37px;
  color: #fff;
  font-family: Stinky Marker;
  font-size: 20px;
}
.btn-riesgo{
  background: #FF0000;
  border-radius: 0;
  height: 37px;
  color: #fff;
  font-family: Stinky Marker;
  font-size: 20px;
}
.btn-calcula:focus, .btn-riesgo:focus{
  color: #fff;
}
.face, .twitter, .whatsapp, .skype{
  position: relative;
}
.face::before{
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background: url("../img/facebook.png") no-repeat;
  top: 3px;
  left: 20%;
}
.twitter::before{
  content: "";
  width: 43px;
  height: 30px;
  position: absolute;
  background: url("../img/twitter.png") no-repeat;
  top: 3px;
  left: 17%;
}
.whatsapp::before{
  content: "";
  width: 31px;
  height: 30px;
  position: absolute;
  background: url("../img/whatsapp.png") no-repeat;
  top: 3px;
  left: 19%;
}
.skype::before{
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background: url("../img/skype.png") no-repeat;
  top: 3px;
  left: 19%;
}
.gmail::before{
  content: "";
  width: 41px;
  height: 30px;
  position: absolute;
  background: url("../img/gmail.png") no-repeat;
  top: 3px;
  left: 17%;
}
.checkbox{
 font-family: Stinky Marker;
 font-size: 22px;
 margin-top: 20px !important;
}

.check {
    font-family: Stinky Marker;  
    height: 40px;
     font-size: 15px;
      margin-top: 20px !important;
     letter-spacing: -0.05em;

}
label{
   font-weight: normal !important;
}
input[type="text"]{
   font-family: Stinky Marker; 
  border-radius: 0;
  border: none;
  background:#fff;
  font-weight: normal;
  height: 35px;
}
.sensible{
  color: #FF931E;
}
.especial{
  color: #ED1C24;
}
.orange{
  color: #FFAF66;
}
.naranja{
  color: #F15A24;
}
.green{
  color: #009245;
}
.cont-grupo{
  background:#E6E6E6;
  padding-bottom: 15px;
  border-bottom: 2px solid #F7931E;
}
.cont-grupo img{
  display: inline-block !important;
}
.grafica2{
 
  padding: 5% 0;
  display: inline-block;
}
.datos{
  font-size: 12px;
  font-family: Stinky Marker;  
  padding: .5% 0 .5% 15px;
}
.datos:nth-child(3){
  color: #009245;
  background: url("../img/green.png")no-repeat left 30%;
}
.datos:nth-child(4){
  color: #FF931E;
   background: url("../img/orange.png")no-repeat left 30%;
}
.datos:nth-child(5){
  color: #ED1C24;
   background: url("../img/red.png")no-repeat left 30%;
}
.active{
  background:red;
}
/**/
.navbar-toggle {
         display: block;
      }
      
       .side-collapse-container{
              width:100%;
              position:relative;
              left:0;
              transition:left .4s;
             /* background: red;*/
          }
          .side-collapse-container.out{
              left:200px;
          }
          .side-collapse {
              top:45px;
              bottom:0;
              left:0;
              width:200px;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
               font-family: Stinky Marker;
               color: #808080;
          }
          .side-collapse.in {
              width:0;
          }
/**/

.range {
    display: table;
    position: relative;
    height: 25px;
    cursor: pointer;
    margin-top: 15px;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    width: 15px;
    height: 25px;  
    border-radius: 0px;
    background:  url("../img/range.png")no-repeat;
    background-size: contain;
    background-position: center;
}

.range input[type="range"]::-moz-slider-thumb {
   -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    width: 15px;
    height: 25px;  
    border-radius: 0px;
    background:  url("../img/range.png")no-repeat;
    background-size: contain;
    background-position: center;
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: red;
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
    background: url("../img/grafica2.png")no-repeat;
    background-size: contain;
    background-position: center;
}

