<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />

    <title>Eva</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">

    {{content-for 'head'}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/eva.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/flexslider.css">
    <link rel="stylesheet" href="assets/css/build.css">
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    {{content-for 'head-footer'}}
  </head>
  <body>

    <div id="alert" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>


    {{content-for 'body'}}


    <script src="./cordova.js"></script>

    <script src="assets/vendor.js"></script>
    <script src="assets/eva.js"></script>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
 
     <!-- FlexSlider -->
    <script defer src="assets/js/jquery.flexslider.js"></script>

    <!-- Charts -->
    <script src="assets/js/amcharts.js"></script>
    <script src="assets/js/pie.js"></script>

    {{content-for 'body-footer'}}

   
    <script>
        if(localStorage.getItem('eva-appdata')==null){
            //First Time
            window.appdata = {'ft':true,'pd':[],'pnv':0.0,'pdv':0.0};
            localStorage.setItem('eva-appdata',JSON.stringify(window.appdata));
        }
        else{
            window.appdata = JSON.parse(localStorage.getItem('eva-appdata'));
            if(document.location.hash.length<3)
              document.location.href="#/home";
        }

        
    </script>


  </body>
</html>
